@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Acesse as motos disponíveis <a asp-controller="Moto" asp-action="MotosDisponiveis">clicando aqui.</a>.</p>
</div>
